body {  
    font-family: Arial, sans-serif;  
    background-color: #f8f8f8;  
    margin: 0;  
    padding: 20px;  
}  

.container {  
    display: flex;  
    justify-content: center;  
}  

.posts-wrapper {  
    display: flex;  
    border: 1px solid #ccc;  
    border-radius: 5px;  
    overflow: hidden; 
}  

.post {  
    background-color: white;  
    padding: 20px;  
    width: 300px;  
}  

.post h2 {  
    font-size: 1.5em;  
    margin: 10px 0;  
}  

.post date {  
    display: block;  
    font-size: 0.9em;  
    color: gray;  
    margin-bottom: 10px;  
}  

.post img {  
    width: 100%;  
    border-radius: 5px;  
    height: auto;  
}  

.post p {  
    font-size: 1em;  
    margin: 10px 0;  
}  

.full-story {  
    display: inline-block;  
    margin-top: 10px;  
    padding: 10px 15px;  
    background-color: #007BFF;  
    color: white;  
    text-decoration: none;  
    border-radius: 5px;  
}  

.full-story:hover {  
    background-color: #0056b3;  
}  

 
.divider {  
    width: 1px;  
    background-color: gray;  
    margin: 0 20px;   
    height: auto; 
    align-self: stretch; 
}
